<% @tweets.each do |tweet|  %>
<ul>
  <li><strong>Tweet by:
    <% if tweet.user.image.present? %>
    <%= cl_image_tag(tweet.user.image, :class => 'icon') %>
      <% else %>
      <%= image_tag 'empty-profile-picture.png', :class => 'icon' %>
      <% end %>
    <%= link_to "#{tweet.user.name}", user_path(tweet.user.id)  %></strong> |
    <%= tweet.created_at.strftime '%A, %B %e, %Y' %>
      </li>

  <li><%= link_to "#{tweet.content}", tweet_path(tweet.id) %></li>
  <li><% if tweet.image.present? %>
        <%= cl_image_tag(tweet.image, :height=>144) %>
      <% end %></li>

      <div class="dropdown">
        <button class="comments-btn">Comments ▼
          <i class="fa fa-caret-down"></i>
        </button>
          <div class="dropdown-content tweet-comments">
            <% tweet.comments.each do |comment| %>
            <p>
              <%= comment.created_at.strftime '%l:%M%P, %e %b %Y' %>
              <strong><%= comment.user.name %></strong> :
              <%= comment.body %>
            </p>
            <% end %>
          </div>
        </div>

  <%= form_with(model: [ tweet, tweet.comments.build], local: true) do |f| %>
    <p>
      <%= f.text_area :body, placeholder: 'Comment'%>
      <%= f.submit %>
    </p>
  <% end %>

</ul>
<% end %>
