<h2>Tweet</h2>

<ul>
  <li>Tweet by: <%= link_to "#{@tweet.user.name}", user_path(@tweet.user.id) %> | <%= @tweet.created_at.strftime '%A, %B %e, %Y' %></li>
  <li><%= @tweet.content %></li>
  <li><%= image_tag @tweet.image, :class => 'thumb' %></li>

  <h3>Comments</h3>
    <%= render @tweet.comments %>

    <%= render 'comments/form' %>

  <%= link_to 'Back', tweets_path %>
</ul>
