<% @user.tweets.each do |tweet|  %>
  <ul>
    <li>Tweet by: <%= link_to "#{tweet.user.name}", user_path(tweet.user.id)  %> | <%= tweet.created_at.strftime '%A, %B %e, %Y' %></li>
    <li><%= tweet.content %></li>
    <li><%= image_tag tweet.image, :class => 'thumb' if tweet.image.present? %></li>

    <% if tweet.user.id == @current_user.id %>
    <li><%= link_to "Edit", edit_tweet_path(tweet) %> |
        <%= link_to "Delete", tweet, :method => 'delete', :data => { :confirm => 'Are you sure?'} %></li>
        <% end %>
  </ul>
<% end %>
