<% @user.tweets.each do |tweet|  %>
  <ul class="tweet-container">
    <li><strong>Post by:
      <% if tweet.user.image.present? %>
      <%= cl_image_tag(tweet.user.image, :class => 'icon') %>
        <% else %>
        <%= image_tag 'empty-profile-picture.png', :class => 'icon' %>
      <% end %>
      <%= link_to "#{tweet.user.name}", user_path(tweet.user.id)  %></strong> |
      <%= tweet.created_at.strftime '%A, %B %e, %Y' %>
    </li>

    <li><%= tweet.content %></li>

    <li><% if tweet.image.present? %>
          <%= cl_image_tag(tweet.image, :height=>144) %>
        <% end %>
    </li>

    <% if tweet.user.id == @current_user.id %>
    <li><%= link_to "Edit", edit_tweet_path(tweet) %> |
        <%= link_to "Delete", tweet, :method => 'delete', :data => { :confirm => 'Are you sure?'} %></li>
        <% end %>
  </ul>
<% end %>
