
<div class="span4">
<h1>
  <div class="profile">
    <%= image_tag @user.image, :class => 'icon' %>
    <%= @user.name %>
  </div>
  <div class="profile">
      <%= render 'users/follow_form' if @current_user.present?  %>
  </div>
</h1>

  <li><strong><%= @user.title %></strong></li>
  <li><%= @user.bio %></li>
  </div>
  <br>
  <section>
    <%= render 'users/stats' %>
  </section>

<section>
  <%= render 'tweets' %>
</section>
