

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <section>
        <h1>
          <%= image_tag @user %>
          <%= @user.name %>
        </h1>
      </section>

      <section>
        <%= render 'users/stats' %>
      </section>
    </div>

    <div class="col-md-8">
      <section>
        <%= render 'users/follow_form' if @current_user.present?  %>
      </section>

    </div>
  </div>

  <div class="row">
    <section>
      <%= render 'tweets' %>
    </section>
  </div>

</div>
