
<div class="span4">
  <h1>
    <div class="profile">
      <% if @user.image.present? %>
      <%= image_tag @user.image, :class => 'icon' %>
      <% else %>
        <%= image_tag 'empty-profile-picture.png', :class => 'icon' %>
        <% end %>
      <%= @user.name %>
    </div>

    <div class="profile">
        <%= render 'follow_form' if @current_user.present?  %>
    </div>
  </h1>

  <li><strong><%= @user.title %></strong></li>
  <li><%= @user.bio %></li>
  </div>

<br>
<section>
  <%= render 'stats' %>
</section>

<section>
  <%= render 'tweets' %>
</section>
