<div class="space-between">
    <div class="space-between">
      <div class="row icon-position">
        <% if @user.image.present? %>
        <%= cl_image_tag(@user.image, :class => "profile-icon") %>
        <% else %>
          <%= image_tag 'empty-profile-picture.png', :class => 'icon' %>
          <% end %>
      </div>
      <div class="row right-align">
        <h1><%= @user.name %></h1>
      </div>
    </div>

    <div class="row right-align">
        <%= render 'follow_form' if @current_user.present?  %>
    </div>
</div>

<li><strong><%= @user.title %></strong></li>
<li><%= @user.bio %></li>

<br>
<div class="space-between">
  <div class="row">
    <%= render 'stats' %>
  </div>
  <div class="row right-align">
    <%= link_to 'Back', tweets_path %>
  </div>
</div>

<section>
  <%= render 'tweets' %>
</section>
