<!DOCTYPE html>
<html>
  <head>
    <title>Project1</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <nav>
        <%= link_to "Home", root_path %>
        <% if @current_user.present? %>
          <%= link_to "Logout #{ @current_user[:name]}", login_path, :method => 'delete' %>
          <%= link_to "Add Tweet", new_tweet_path %>
          <%= link_to "User Tweets", tweets_path %>
          <%# <%= link_to "Profile Page", user_path %>
          <% else %>
            <%= link_to 'Sign Up', new_user_path %>
            <%= link_to "Login", login_path %>
        <% end %>
      </nav>
      <%= yield %>
    </div>
  </body>
</html>
