<!DOCTYPE html>
<html>
  <head>
    <title>Project1</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= cloudinary_js_config %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>

  <body>
    <div class="navbar">
      <% if @current_user.present? %>
        <%= link_to "Social Feed", tweets_path %>
        <%= link_to "Add Post", new_tweet_path %>
        <% else %>
          <%= link_to "Home", root_path %>
          <%= link_to 'Sign Up', new_user_path %>
          <%= link_to "Login", login_path %>
      <% end %>

      <div class="dropdown">
        <% if @current_user.present? %>
          <button class="dropbtn">
            <div class="row">
              <div class="row right-align icon-position">
                <% if @current_user.image %>
                  <%= cl_image_tag(@current_user.image, :class => 'icon') %>
                <% else %>
                  <%= image_tag 'empty-profile-picture.png', :class => 'icon' %>
                <% end %>
              </div>
              <div class="row right-align">
                <%= @current_user.name %>
              </div>
            </div>
          </button>
        <% end %>
        <div class="dropdown-content">
          <% if @current_user.present? %>
            <%= link_to "Profile Page", user_path(@current_user.id) %>
            <%= link_to "Update Profile", edit_user_path(@current_user) %>
            <%= link_to "Logout #{ @current_user[:name]}", login_path, :method => 'delete' %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
